
.img{
 position: absolute;
    height: 100%
    top: 0;
    bottom: 0;
}
.contentblock
{
font-family: 'Love Ya Like A Sister', cursive;
font-size:500%;
    font-weight:700;
    text-align: right;
color: #ffffff;
margin-right: 250px;
}
.block
{
font-family: 'Love Ya Like A Sister', cursive;
font-size:200%;
    font-weight:400;
    text-align: right;
color: #ffffff;
margin-right: 100px;
}
